*,
html {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 0.5px;
}
.lp-main {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(27, 244, 127, 1), rgba(27, 244, 127, 0.1));
}
header {
  margin-left: 75px;
  padding-top: 25px;
  padding-bottom: 15px;
  margin-bottom: 40px;
}
#site-logo {
  position: absolute;
  left: 25px;
  top: 15px;
}
#site-title {
  font-size: 30px;
  color: white;
}
#site-tagline {
  font-weight: 200;
  font-size: 16px;
  color: white;
  margin-left: 30px;
}
.search-form {
  margin-top: 20px;
  margin: 0 auto;
  width: 90%;
  max-width: 500%;
}
.param-label {
  display: block;
  text-align: center;
  color: white;
  font-size: 26px;
  font-weight: 300;
}
.param-input {
  display: block;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 30px;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 200;
  padding-left: 15px;
  color: rgba(13, 35, 23, 1);
  background-color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
::placeholder {
  color: rgba(188, 188, 188, 1);
  font-weight: 300;
  font-size: 18px;
  padding-left: 0px;
}
.intolerances-param {
  width: 90%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 160px;
  margin-top: 3px;
  max-width: 1030px;
}
.checkbox-column-33 li {
  display: block;
  float: left;
  width: 100%;
  margin-bottom: 10px;
  font-size: 18px;
  color: rgba(13, 35, 23, 1);
}
#form-submit {
  display: block;
  margin: 0 auto;
  width: 50%;
  font-size: 26px;
  color: white;
  background-color: rgba(27, 244, 127, 1);
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 4px;
  font-weight: 250;
  letter-spacing: 1px;
  max-width: 200px;
}
.image-container {
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
  background-size: cover;
  height: 200px;
  padding-top: 70px;
  text-align: center;
  max-width: 1030px;
}
#image-1 {
  background-image: url("../img/goveg-search.png");
}
#image-2 {
  background-image: url("../img/goveg-select.png");
}
#image-3 {
  background-image: url("../img/goveg-build.png");
}
.lp-label {
  padding: 5px;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.8);
}
.lp-text {
  text-align: center;
  padding: 30px 10px;
  font-weight: 300;
  max-width: 1030px;
  margin: 0 auto;
}
.bold-text {
  font-weight: 500;
}

@media only screen and (min-width: 335px) {
  .checkbox-column-33 li {
    width: 33%;
  }
}

@media only screen and (min-width: 1030px) {
  .lp-sections {
    background: linear-gradient(rgba(27, 244, 127, 0.1), rgba(27, 244, 127, 0));
  }
}
