*, html {
	margin: 0;
	padding: 0;
	border: 0;
}
body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	letter-spacing: 0.5px;
}
.non-linear-container {
	height: 90px;
	width: 100%;
	background-color: rgba(27, 244, 127, 1);
	margin-bottom: 20px;
}
header {
	margin-left: 75px;
	padding-top: 25px;
	padding-bottom: 15px;
	margin-bottom: 40px;
}
#site-logo {
	position: absolute;
	left: 25px;
	top: 15px;
}
#site-title {
	font-size: 30px;
	color: white;
}
#site-tagline {
	font-weight: 200;
	font-size: 16px;
	color: white;
	margin-left: 30px;
}
.search-result {
	text-align: center;
	width: 90%;
	margin: 0 auto;	
}
.result-title {
	color: rgba(27, 244, 127, 1);
	font-weight: 400;
	font-size: 24px;
	margin-bottom: 10px;
}
.image-container {
	width: 49%;
	display: inline-block;
	box-sizing: border-box;
	text-align: right;
}
.info-container {
	width: 49%;
	display: inline-block;
	box-sizing: border-box;
	text-align: left;
	height: 100%;
	float: right;
}
.info-label {
	color: rgba(27, 244, 127, 1);
}











